.homelogo {
  width: 5rem;
  height: 4rem;
  margin: 0 2px;
  padding: 0;
}
.login-text {
  font-weight: 700;
  font-size: larger;
  text-decoration: none;
  padding: 1em 0;
  
}
nav {
 display: flex;
 flex-direction: row;
}
.homelogin {
  width: 3rem;
  height: 35px;
  margin: 0;
  padding: 0;
}
.nav-bar {
  font-size: medium;
  margin-left: 20rem;
}
.nav-bar li {
  padding: 0 0 0 10px;
}
.ul-links {
  /* width: 35rem; */
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-between ;
}
.ul-links li {
  margin: 0 20px;
}
.ul-links li:nth-of-type(1) {
  flex-grow: 3;
  float: right;
}
.ul-links li:nth-of-type(5) {
  flex-grow: 7;
  float: right;
}
.navbar-header {
  padding: 0 0 10px 0;
  height: 5em;
  width: 10%;
}
@media screen and (min-height: 700px) {
  .navbar-header {
    width: 10%;
    padding: 0 0 4% 3%;
  }
  .ul-links {
    width: 60%;
    margin: 0 0 0 10%;
    padding-left: 10%;
  }
  .right-nav {
    width: 15%;
    margin-left: 5%;
    padding: 0;
  }
  .header {
    padding-top: 1em;
    padding-bottom: 0;    
  }
}
@media screen and (max-height: 700px) {
  .App {
    width: 160%;
    overflow: hidden;
  }
  .right-nav {
    width: 15%;
    margin-left: 5%;
    padding: 0;
    float: right;
  }
}
.navbar-toggle {
  margin-top: 20px;
}

/* 
---- Footer Area -----
*/
.copyright-area {
  text-align: center;
}
.copyright-area ul li {
  display: inline-block;
}
.copyright-area ul li a {
  width: 35px;
  height: 35px;
  color: #0074da;
  background: rgb(115, 231, 240);
  display: inline-block;
  line-height: 35px;
  font-size: 16px;
  border-radius: 100%;
  margin: 0 5px;
}
.copyright-area ul li a:hover {
  background: #0074da;
  color: rgb(14, 13, 13);
}
.copyright-area ul {
  margin-bottom: 30px;
}
.copyright-area p {
  color: rgb(10, 10, 10);
}
.copyright-area p a {
  color: rgb(31, 20, 20);
  border-bottom: 1px solid #fff;
}