.App {  
    background-image: url('/public/11.jpg');
    background-repeat: space;
    
    width: 110%;
    overflow: scroll;
    /* Add the blur effect */
}

.spinner {
  color: pink;
  padding: 1em;
  font-size: 16px;
  margin-left: 15em;
}

/* Home CSS */
.message {
  height: 100px;
  text-align: center;
  font-size: 25px;
  color: aliceblue;
  width: 60%;
  margin-left: 2em;
}
.ul-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.ul-menu li {
  display: block;
  padding: 5px;
  background-color: aqua;
  margin: 10px;
  width: 40%;
  border-radius: 10px;
  font-size:large;
}

/* History CSS */
.history-text {
  color: white;
  text-align: center;
  margin-right: 4em;
}
.input-text {
  color: black;
  text-align: center;
}
.block-display {
  display: block;
}
.options label  {
  width: 10em;
  margin-left: 1em;
  color: white;
}
.submit-button {
  margin-left: 14em;
  margin-top: 1em;
  margin-bottom: 1em;
}