body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;  
}

.dashboard button{
  margin: 1em 0 0 10em;
  padding: 1em;
}
.weather_display {
  margin: 1em 1em 1em 3em;
  background-color: antiquewhite;
}
.weather_label h1 {
  text-align: center;
  color: blueviolet;  
}
.weather_label {
  width: 100%;
}
.weather_label span {
  margin: 1em;
  color: blue;
  border: 1px orange solid;
}
.current form {
  margin: 1em 0 0 10em;
  padding: 2em;
  background-color: aqua;
}
.display {
  margin: 2em 0 0 10em;
  padding: 2em;
}
.current form select, .current form button {
  padding: .5em;
  margin: .5em;
  border: 1px solid white;
  text-align: center;
  font-weight: 500;
}
.label-span {
  text-align: center;
  font-weight: 500;
}